

<%= simple_form_for(@clienttransaction) do |f| %>
  <%= f.error_notification %>
<div class="row">
  <div class="form-inputs col-md-6">

    <%= f.input :transaction_date, :as => :string, class: 'form-control', input_html: { class: 'tdate' } %>
    <%= f.input :duedate, as: :string, required: true, input_html: { class: 'ddate' } %>

    <label>Reference#/Check#/Wire#</label>
      <input type="number" class="form-control" name="reference_no" >
<br>
    <select name="Cash_type" class="form-control">
        <option selected disabled>Select Payment Type</option>
        <option value="Cash">Cash</option>
        <option value="Cheque">Check</option>
        <option value="Wire Transfer">Wire Transfer</option>
        <option value="Credit Card">Credit Card</option>
    </select>
<br>
    <%= f.select_tag "clienttransaction[setup_id]",
                     options_for_select(current_user.setups.where(:setuptype=>'bank').map{|s|[s.typeofsetup, s.id]},
                                        @clienttransaction.setup_id),:id=>"setup_id" , prompt: "Select Bank Account",
                     class: 'form-control' , required: true%>

    <br>
 <%= f.select_tag "clienttransaction[client_id]",
                  options_for_select(current_user.clients.order_by_name.map{|s|[s.company_name, s.id]}, @clienttransaction.client_id),
                  id: "client", prompt: "Select Client", class: 'form-control', id: 'client_id',  required: true %>
  

 <input type="text" hidden name="invoices" class="transaction_invoice_id" value=" "> <!-- Ids of invoices  -->

  <br>
  <label>Total amount</label>
  <!-- Total amount of transaction goes from there  -->
  <input type="number" id="total_blc" class="form-control" value="0.00" name="transaction_amount" readonly="readonly" >
  <br>
  
  </div>
<div class="col-xs-12">
<button type="button" id="show_select" class="btn  btn-info pull-right" data-toggle="modal" data-target="#invoices">Add Invoice</button>
</div>
</div>

<div class="row">
  <div id="divResults">

    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th >Invoice Num</th>
          <th >Reference</th>
          <th >Amount</th>
          <th >Transaction Amount</th>
          <th >Last Paid</th>
          <th >Due Date</th>
          <th >Total Paid</th>
          <th >Notes</th>
        </tr>
      </thead>

      <tbody id="tbody_empty">
        <% if params[:action] == "edit" %>

          <% @edit_invoice.each do |invoice|%>
          <tr >
            <td><%= invoice.id %></td>
            <td><%= invoice.reference %></td>
            <td><%= number_with_precision(invoice.amount, precision: 2) %></td>
            <td><input type="number" min="0"
                       max="<%= invoice.transactioninvoices.first.balance.to_s %>" name="balances[<%= invoice.id%>]"
                       value="<%= number_with_precision(invoice.transactioninvoices.first.balance, precision: 2) %>"/></td>
            <td><%= invoice.lastpayment %></td>
            <td><%= display_formatted_date(invoice.duedate) %></td>
            <td><%= number_with_precision(invoice.totalpaid, precision: 2) %></td>
            <td><%= invoice.notes %></td>
          </tr>
          <%end%>

        <% end %>
      </tbody>
      
    </table>
  </div>
</div>
<h3 id="nothing_alert">
This Client has No open Invoices
</h3>
<div class="form-actions">
    <%= f.button :submit, "Save", class: 'btn btn-primary' %>
  </div>
<% end %>