
<h1>Cash From Clients</h1>


<table class="table table-hover table-striped">
  <%= link_to 'New Transaction', new_clienttransaction_path,
 class: "btn btn-primary pull-right new-btn-top-right text-right" %> 
  <thead>
    <tr>
      <th>Transaction Id</th>
      <th>Reference#/Check#/Wire#</th>
      <th>Client Name</th>
      <th>Bank Account</th>
      <th>Payment Type</th>
      <th>Transaction Date</th>
      <th>Due Date</th>
      <th>Invoices</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clienttransactions.each do |clienttransaction| %>
      <tr>
        <% transaction_invoice = Transactioninvoice.where(:clienttransaction_id=>clienttransaction.id) %>
        <td><%= clienttransaction.id %></td>
        <td><%= transaction_invoice.present? ? transaction_invoice.first.reference_no : '---' %></td>

        <td><%=  clienttransaction.client.present? ? clienttransaction.client.company_name : '---' %></td>
        <td><%=  clienttransaction.setup.present? ? clienttransaction.setup.typeofsetup : '---' %></td>
        <td><%= transaction_invoice.present? ? transaction_invoice.first.Cash_type: '---' %></td>
        <td><%= display_formatted_date(clienttransaction.transaction_date) %></td>
        <td><%= display_formatted_date(clienttransaction.duedate) %></td>
        <td><%= transaction_invoice.present? ? transaction_invoice.count : '---' %></td>
         <td>
           <%= number_with_precision(clienttransaction.transactioninvoices.map{|so| so.amount}.compact.sum, precision: 2) if  clienttransaction.transactioninvoices.present? %>
         </td>
         <!-- <td><%#= clienttransaction.transactioninvoices.present? ?
          clienttransaction.transactioninvoices.first.reference_no : '---' %></td> -->
        <td>
          <%= link_to 'Edit', edit_clienttransaction_path(clienttransaction), class: "btn btn-primary", style: 'margin-bottom: 10px;' %>
          <%= link_to 'Delete', clienttransaction, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-danger"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



