<%= simple_form_for(@transactionbill) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :bill %>
    <%= f.association :vendortransaction %>
    <%= f.input :amount %>
    <%= f.input :balance %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
