<%= simple_form_for(@setup) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :typeofsetup %>
    <%= f.input :description %>
     <%= f.select_tag "setup[setuptype]", options_for_select(Setup::SETUPS,
    @setup.setuptype),:id=>"status" , prompt: "Setup For", class: 'form-control' %>
  
  </div>
<br>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
