





<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    .edit_setup_left
    {
      float:left !important;
    }

    .left {
      text-align: left;
    }

    label.control-label {
      float: left;
    }
  </style>
</head>

<body>

<div class="row">

  <div class="col-xs-6">

    <h2>Setups</h2>

  </div>

  <div class="col-xs-6" hidden>
    <%= link_to '', new_setup_path, class: "btn btn-primary pull-right new-btn-top-right" %> </div>

</div>

<br/>


<div class="container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs " role="tablist">
    <li class="active col-xs-3 tab-pading">
      <a href="#home" role="tab" data-toggle="tab">
        Client Type
      </a>
    </li>
    <li class="col-xs-3 tab-pading"><a href="#profile" role="tab" data-toggle="tab">
      Vendor Type
    </a>
    </li>
    <li class="col-xs-3 tab-pading">
      <a href="#messages" role="tab" data-toggle="tab">
        Expense Accounts
      </a>
    </li>
    <li class="col-xs-3 tab-pading">
      <a href="#settings" role="tab" data-toggle="tab">
        Banks
      </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div id="tab-content" class="tab-content">
    <div class="tab-pane fade active in" id="home">
      <td><button type="button" class="btn btn-primary " style="float:right"
                  data-toggle="modal" data-target="#clientetup">Add New</button>
        <table class="table table-hover table-striped">
          <thead>
          <tr>
            <th>Type</th>
            <th>Description</th>
            <th colspan="3"></th>

          </tr>
          </thead>

          <tbody>
          <% @setups.each do |setup| %>
              <% if setup.setuptype =='client'%>
                  <tr>
                    <td class="left"><%= setup.typeofsetup %></td>
                    <td class="left"><%= setup.description %></td>
                    <td colspan="3" class="left">
                      <%= link_to 'Edit',  '#', 'data-target' => "#editclient_#{setup.id}",
                                  'data-toggle' => 'modal' , class: "btn btn-info" %>
                      <%= link_to 'Delete', setup, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                    </td>
                    <div id="editclient_<%=setup.id%>" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Client Type</h4>
                          </div>
                          <div class="modal-body">
                            <%= simple_form_for(setup) do |f| %>
                                <%= f.error_notification %>

                                <div class="form-inputs">
                                  <label>Type</label>
                                  <%= f.text_field :typeofsetup ,class: 'form-control' %>
                                  <%= f.input :description %>

                                  <input hidden type="text" name="setup[setuptype]" value="client">
                                </div>

                                <%= f.button :submit, "Update" , class: "edit_setup_left btn btn-primary" %>
                            <% end %>
                            <br>
                            <br>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>

                      </div>
                    </div>




                  </tr>

              <% end %>
          <%end%>
          </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="profile">
      <button type="button" class="btn btn-primary" style="float:right" data-toggle="modal"
              data-target="#vendorsetup">Add New</button>

      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th>Type</th>
          <th>Description</th>
          <th colspan="3"></th>

        </tr>
        </thead>

        <tbody>
        <% @setups.each do |setup| %>
            <% if setup.setuptype =='vendor'%>
                <tr>
                  <td class="left"><%= setup.typeofsetup %></td>
                  <td class="left"><%= setup.description %></td>
                  <td colspan="3" class="left">
                    <%= link_to 'Edit',  '#', 'data-target' => "#editvendor_#{setup.id}",
                                'data-toggle' => 'modal' , class: "btn btn-info" %>
                    <%= link_to 'Delete', setup, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>



                </tr>
                <div id="editvendor_<%=setup.id%>" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Vendor Type</h4>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for(setup) do |f| %>
                            <%= f.error_notification %>

                            <div class="form-inputs">
                              <label>Type</label>
                              <%= f.text_field :typeofsetup ,class: 'form-control' %>
                              <%= f.input :description %>

                              <input hidden type="text" name="setup[setuptype]" value="vendor">
                            </div>
                            <br>
                            <%= f.button :submit, "Update",class: "edit_setup_left btn btn-primary" %>
                        <% end %>
                        <br>
                        <br>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
            <% end %>
        <%end%>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="messages">

      <button type="button" class="btn btn-primary" style="float:right" data-toggle="modal"
              data-target="#expensesetup">Add New</button>
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th>Expense ID</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @setups.each do |setup| %>
            <% if setup.setuptype =='expense'%>
                <tr>
                  <td class="left"><%= setup.typeofsetup %></td>
                  <td class="left"><%= setup.description %></td>
                  <td colspan="3" class="left">
                    <%= link_to 'Edit',  '#', 'data-target' => "#editexpense_#{setup.id}",
                                'data-toggle' => 'modal' , class: "btn btn-info" %>
                    <%= link_to 'Delete', setup, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
                </tr>

                <div id="editexpense_<%=setup.id%>" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Expense Setup</h4>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for(setup) do |f| %>
                            <%= f.error_notification %>

                            <div class="form-inputs">
                              <label>Expense ID</label>
                              <%= f.text_field :typeofsetup ,class: 'form-control' %>
                              <%= f.input :description %>

                              <input hidden type="text" name="setup[setuptype]" value="expense">
                            </div>

                            <%= f.button :submit, "Update", class: "edit_setup_left btn btn-primary" %>
                        <% end %>
                        <br>
                        <br>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
            <% end %>
        <%end%>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="settings">
      <button type="button" class="btn btn-primary" style="float:right"
              data-toggle="modal" data-target="#banksetup">Add New
      </button>
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <th>Bank ID</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @setups.each do |setup| %>
            <% if setup.setuptype =='bank'%>
                <tr>
                  <td class="left"><%= setup.typeofsetup %></td>
                  <td class="left"><%= setup.description %></td>
                  <td colspan="3" class="left">
                    <%= link_to 'Edit',  '#', 'data-target' => "#editbank_#{setup.id}",
                                'data-toggle' => 'modal' , class: "btn btn-info" %>

                    <%= link_to 'Delete', setup, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                  </td>
                </tr>
                <div id="editbank_<%=setup.id%>" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Bank Setup</h4>
                      </div>
                      <div class="modal-body">
                        <%= simple_form_for(setup) do |f| %>
                            <%= f.error_notification %>

                            <div class="form-inputs">
                              <label style="float: left;">Bank ID</label>
                              <%= f.text_field :typeofsetup ,class: 'form-control' %>
                              <%= f.input :description %>

                              <input hidden type="text" name="setup[setuptype]" value="bank">
                            </div>

                            <%= f.button :submit, "Update",class: "edit_setup_left btn-primary" %>
                        <% end %>
                        <br>
                        <br>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>
            <% end %>
        <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="clientetup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Client Type</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@setup) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <label>Type</label>
              <%= f.text_field :typeofsetup ,class: 'form-control' %>
              <%= f.input :description %>

              <input hidden type="text" name="setup[setuptype]" value="client">
            </div>
            <br>
            <div class="form-actions">
              <%= f.button :submit , "Create", class: 'btn btn-primary' %>
            </div>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="vendorsetup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Vendor Type</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@setup) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <label>Type</label>
              <%= f.text_field :typeofsetup ,class: 'form-control' %>
              <%= f.input :description %>

              <input hidden type="text" name="setup[setuptype]" value="vendor">
            </div>
            <br>
            <div class="form-actions">
              <%= f.button :submit, "Create", class: 'btn btn-primary' %>
            </div>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="expensesetup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Expense</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@setup) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <label>Expense ID</label>
              <%= f.text_field :typeofsetup ,class: 'form-control' %>
              <%= f.input :description %>

              <input hidden type="text" name="setup[setuptype]" value="expense">
            </div>
            <br>
            <div class="form-actions">
              <%= f.button :submit, "Create", class: 'btn btn-primary' %>
            </div>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="banksetup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Bank Type</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@setup) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <label>Bank ID</label>
              <%= f.text_field :typeofsetup ,class: 'form-control' %>
              <%= f.input :description %>

              <input hidden type="text" name="setup[setuptype]" value="bank">
            </div>
            <br>
            <div class="form-actions">
              <%= f.button :submit , "Create", class: 'btn btn-primary' %>
            </div>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</body>
</html>