

<!DOCTYPE html>

<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head> 

<body>
    <div class="container">
     
<h2>Client Detail</h2>
      <table class="table table-hover table-striped">
      <tbody>
        <tr>
          <td><b>Name</b></td>
          <td><%= @client.name%></td>
        </tr>
        <tr>
          <td><b>Company Name</b></td>
          <td ><%=  @client.company_name %></td>
        </tr>
        <tr>
          <td><b>Email</b></td>
          <td ><%=@client.email%></td>
        </tr>
        <tr>
          <td><b>Phone</b></td>
          <td ><%= @client.phone %></td>
        </tr>
        <tr>
          <td><b>Identifier</b></td>
          <td ><%= @client.identifier%></td>
        </tr>
        <tr>
          <td><b>Reference</b></td>
          <td ><%= @client.reference%></td>
        </tr>
        <tr>
          <td><b>Notes</b></td>
          <td ><%= @client.notes%></td>
        </tr>
        <tr>
          <td><b>Client Type</b></td>
            <td><%= @client.setup.present? ? @client.setup.typeofsetup : '---' %></td>
        </tr>
        <tr>
          <td><b>Status</b></td>
          <td ><%= @client.status.present? ? @client.status : '---'%></td>
        </tr>

                  
      </tbody>
      </table>
      <%= link_to 'Edit', edit_client_path(@client), class: "btn btn-info" %>
      <%= link_to 'Back', clients_path, class: "btn btn-warning" %>
    </div>



<h2>Open Invoices</h2>




     <table class="table table-hover table-striped">
        <thead>
          <tr>
       <th >Invoice Num</th>
       <th >Reference</th>
      <th >Amount</th>
      <th >Balance</th>
      <th >Last Paid</th>
      <th >Total Paid</th>
      <th >Notes</th>
      <th >Status</th>
      



        </tr>
        </thead>

        <tbody>
    <% @unpay.each do |invoice| %>
      <tr>
        <td><%= link_to invoice.id, invoice%></td>
        <td><%= invoice.reference%></td>
        <td><%= invoice.amount %></td>
        <td><%= invoice.balance%></td>
        <td><%= invoice.lastpayment%></td>
        <td><%= invoice.totalpaid%></td>
        <td><%= invoice.notes%></td>
        <td><%= invoice.status.present? ? invoice.status.titleize : "--" %>
        </td>
        <td><%= link_to 'Delete', invoice, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
         
      </tr>
      <% end %>
        </tbody>
      </table>
    
</body>
</html>
