<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="row">
  <div class="col-xs-6">
  </div>
  <div class="col-xs-6">
    <p style="text-align: right;"><b>Total Owed to Vendors: </b>
      <span>$<%= number_with_precision(owed_to_vendors, precision: 2, delimiter: ',') %></span></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h2>Bills</h2>
  </div>

  <div class="col-xs-6">
    <%= link_to 'New Bill', new_bill_path,
                class:"btn btn-primary pull-right new-btn-top-right" %>
  </div>
</div>
<br/>

<div class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs " role="tablist">
    <li class="active col-xs-3 tab-pading">
      <a href="#home" role="tab" data-toggle="tab">
        All
      </a>
    </li>
    <li class="col-xs-3 tab-pading"><a href="#profile" role="tab" data-toggle="tab">
      Paid
    </a>
    </li>
    <li class="col-xs-3 tab-pading">
      <a href="#messages" role="tab" data-toggle="tab">
        Unpaid
      </a>
    </li>
    <li class="col-xs-3 tab-pading">
      <a href="#settings" role="tab" data-toggle="tab">
        Past Due
      </a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div id="tab-content" class="tab-content">
    <div class="tab-pane fade active in" id="home">
      <table class="table table-hover table-striped">
        <thead>
          <%= render 'bills/header' %>
        </thead>

        <tbody>
        <% @bills.each do |bill| %>
            <%= render 'bills/row', bill: bill %>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="profile">

      <table class="table table-hover table-striped">
        <thead>
          <%= render 'bills/header' %>
        </thead>

        <tbody>
        <% @bills.each do |bill| %>
            <% if bill.status == "paid" %>
              <%= render 'bills/row', bill: bill %>
            <% end %>
        <% end %>
        </tbody>
      </table>

    </div>
    <div class="tab-pane fade" id="messages">

      <table class="table table-hover table-striped">
        <thead>
          <%= render 'bills/header' %>
        </thead>

        <tbody>
        <% @bills.each do |bill| %>
            <% if bill.status == "unpaid" %>
                <%= render 'bills/row', bill: bill %>
            <% end %>
        <% end %>

        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="settings">
      <table class="table table-hover table-striped">
        <thead>
          <%= render 'bills/header' %>
        </thead>

        <tbody>
        <% @bills.each do |bill| %>
            <% if bill.status == "past due" %>
                <%= render 'bills/row', bill: bill %>
            <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>
</body>
</html>


