<%= simple_form_for(@vendor) do |f|  %>
    <%= f.error_notification %>

    <div class="form-inputs col-md-6">
      <%= f.input :name,required: true %>
      <%= f.input :company_name,required: true %>
      <%= f.input :email,required: true %>
      <%= f.input :phone, required: false %>
      <%= f.input :identifier, required: false %>
      <%= f.input :reference, required: false %>
      <%= f.input :notes %>

      <label>Vendor Status</label>
      <%= f.select_tag "vendor[status]", options_for_select(visibility_status_list ,
                                                            @vendor.status),:id=>"status" , class: 'form-control' %>
      <br>

      <%= f.select_tag "vendor[setup_id]",
                       options_for_select(current_user.setups.where(:setuptype=>'vendor').map{ |s|[s.typeofsetup, s.id] },
                                          @vendor.setup_id),:id=>"setup_id" , prompt: "Select Vendor Type", class: 'form-control' %>
      <br>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>

    </div>
<% end %>
