<%= simple_form_for([@invoice, @line_item]) do |f| %>
  <%= f.error_notification %>

   <div class="form-inputs">
    <%= f.input :price,required: true%>
        <%= f.input :description, required: true%>

    <%= f.input :quantity ,required: true%>

    


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
