<h2>Client Summary Report</h2>
<form action="/reports/customersummary" >
  <div class="jumbotron" style="background-color:whitesmoke">
    <div class="row" >
      <div class="col-xs-2">
        <label style="margin-left: 2px;">Date From</label>
        <input type="text" name="date_from" id="date_from" value="<%= params[:date_from]%>" class="form-control">
      </div>
      <div class="col-xs-2">
        <label style="margin-left: 2px;">Date To</label>
        <input type="text" class="form-control" value="<%= params[:date_to]%>" name="date_to" id="date_to">
      </div>
      <div class="col-xs-3">
        <label style="margin-left: 2px;">Select Client</label>

        <%= select_tag "client_id",
                       options_for_select(current_user.clients.order_by_name.map{|s|[s.company_name, s.id]},
                                          params[:client_id].to_i),:id=>"client" , prompt: "Select Client",
                       class: 'form-control', id: 'client_id' %>
      </div>
      <div class="col-xs-3">
        <label style="margin-left: 2px;">Client Type</label>
        <select name="client_type"  class="form-control">
          <option selected disabled value="">Select Client type </option>
          <option value="active" <%= 'selected' if params[:client_type] ==  'active'%>>Active</option>
          <option value="inactive" <%= 'selected' if params[:client_type] ==  'inactive'%>>Inactive</option>
          <option value="past due" <%= 'selected' if params[:client_type] ==  'past due'%>>Past due</option>
        </select>
      </div>
      <div class="col-xs-2" style="margin-top: 25px;">
        <input type="submit" name="" class="btn btn-primary form-control" value="search" id="sub">

      </div>
    </div>
  </div>
</form>
</div>
</div>

<div id="dvData">

  <% if @invoices.present? %>
      <% if !params[:client_type].present? || @invoices.first.client.status == params[:client_type] %>

          <table class="table table-hover table-striped">
            <h2>
              <a href="#" id="gen_btn" class="export btn btn-success pull-right">Export To Excel</a>
            </h2>
            <br>
            <thead>
            <tr>
              <td><b>ClientId</b></td>
              <td><b>Name</b></td>
              <td><b>Last invoice</b></td>
              <td><b>Total Invoices</b></td>
              <td><b>Last Cash</b></td>
              <td><b>Receipt</b></td>
              <td><b>Total Payments</b></td>
              <th colspan="3"></th>
            </tr>
            </thead>

            <tbody>
            <% if !params[:client_id].present? %>
              <%
                invoice_clients = @invoices.collect { |i| i.client.id }
                clients = Client.where("id IN (?)", invoice_clients)

                clients.each do |client|
              %>
                <tr>
                  <td><%= client.id %></td>
                  <td><%= client.company_name %></td>
                  <td><%= display_formatted_date(client.invoices.first.transactioninvoices.last.updated_at.to_date) %></td>
                  <td><%= number_with_precision(client.invoices.first.client.invoices.map { |i| i.amount }.compact.sum, precision: 2) %></td>
                  <td><%= number_with_precision(client.invoices.first.transactioninvoices.last.amount, precision:2) %></td>
                  <td><%= client.invoices.first.id %></td>
                  <td><%= number_with_precision(total_payment(client.clienttransactions), precision: 2) %></td>
                  <td></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td><%= @invoices.first.client_id %></td>
                <td><%= @invoices.first.client.company_name %></td>
                <td><%= display_formatted_date(@invoices.first.transactioninvoices.last.updated_at.to_date) %></td>
                <td><%= number_with_precision(@invoices.first.client.invoices.map { |i| i.amount }.compact.sum, precision: 2) %></td>
                <td><%= number_with_precision(@invoices.first.transactioninvoices.last.amount, precision:2) %></td>
                <td><%= @invoices.first.id %></td>
                <td><%= number_with_precision(total_payment(@invoices.first.client.clienttransactions), precision: 2) %></td>
                <td></td>
              </tr>
            <% end %>
            </tbody>
          </table>
      <% end %>

  <% elsif params[:client_id] && @invoices.empty? %>
      <h4 class="text-center">No record found.</h4>
  <% end %>
</div>
<script>

  $(function() {
    $( "#date_from" ).datepicker({ dateFormat: 'mm-dd-yy' }).val();
    $( "#date_to" ).datepicker({ dateFormat: 'mm-dd-yy' }).val();
  });

  $(document).ready(function () {

    function exportTableToCSV($table, filename) {

      var $rows = $table.find('tr:has(td)'),

      // Temporary delimiter characters unlikely to be typed by keyboard
      // This is to avoid accidentally splitting the actual contents
          tmpColDelim = String.fromCharCode(11), // vertical tab character
          tmpRowDelim = String.fromCharCode(0), // null character

      // actual delimiter characters for CSV format
          colDelim = '","',
          rowDelim = '"\r\n"',

      // Grab text from table into CSV formatted string
          csv = '"' + $rows.map(function (i, row) {
                var $row = $(row),
                    $cols = $row.find('td');

                return $cols.map(function (j, col) {
                  var $col = $(col),
                      text = $col.text();

                  return text.replace(/"/g, '""'); // escape double quotes

                }).get().join(tmpColDelim);

              }).get().join(tmpRowDelim)
                  .split(tmpRowDelim).join(rowDelim)
                  .split(tmpColDelim).join(colDelim) + '"',

      // Data URI
          csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

      $(this)
          .attr({
            'download': filename,
            'href': csvData,
            'target': '_blank'
          });
    }

    // This must be a hyperlink
    $(".export").on('click', function (event) {
      // CSV
      exportTableToCSV.apply(this, [$('#dvData>table'), 'export.xls']);

      // IF CSV, don't do event.preventDefault() or return false
      // We actually need this to be a typical hyperlink
    });
  });

</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
