<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= content_for?(:title) ? yield(:title) : "SOBE Hub" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "SOBE Hub" %>">
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- Custom Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="#page-top">[Sobehub]<br><span style="font-size: 15px;">Open source apps</span></a>
    </div>

    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
  <div class="container hcontainer" id="maincontent" tabindex="-1">
    <div class="row">
      <div class="col-lg-12">
        <span class="skills"><a href="">Cloud-based</a>, <a href=""> Containerized</a>, <a href="">  Open Source</a> App</span>
        <div class="intro-text">
          <h4 class="name">Download in your favorite language from our Github Repositories</h4>
            <ul class="languages">
              <li><a href="https://github.com/osvaldomeirino/sobeBooks">Ruby</a> </li>
              <li><a href="javascript:">Java</a> </li>
              <li><a href="javascript:">Python</a> </li>
              <li><a href="javascript:">C# </a></li>
              <li><a href="javascript:">PHP</a></li>
              <li><a href="javascript:">NodeJS</a></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about">
  <div class="container source">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="hd-1">Open Source Business Apps</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3  col-sm-3">
        <ul class="source-list">
          <li>Sobe<b>Books</b></li>
          <li>Sobe<b>CRM</b></li>
          <li>Sobe<b>Supply</b></li>
        </ul>
      </div>
      <div class="col-lg-3  col-sm-3">
        <ul class="source-list">
          <li>Sobe<b>Books</b></li>
          <li>Sobe<b>CRM</b></li>
          <li>Sobe<b>Supply</b></li>
        </ul>
      </div>
      <div class="col-lg-3  col-sm-3">
        <ul class="source-list">
          <li>Sobe<b>Books</b></li>
          <li>Sobe<b>CRM</b></li>
          <li>Sobe<b>Supply</b></li>
        </ul>
      </div>
      <div class="col-lg-3  col-sm-3">
        <ul class="source-list">
          <li>Sobe<b>Books</b></li>
          <li>Sobe<b>CRM</b></li>
          <li>Sobe<b>Supply</b></li>
        </ul>
      </div>


    </div>
  </div>
</section>

<!-- About Section -->
<section id="platforms">
  <div class="container platforms">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="hd-1">Deploy in your favorite cloud platform</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12  col-sm-12">
        <ul class="platforms-list">
          <li><img src="/assets/amazon.png" width="200px"></li>
          <li><img src="/assets/azure.png" width="240px"></li>
          <li><img src="/assets/google.png" width=""></li>
          <li class="pad-left"><img src="/assets/heroku.png" width="200px"></li>
          <li><img src="/assets/engineyard.jpg" width="240px"></li>

        </ul>
      </div>
    </div>
  </div>
</section>
<!-- About Section -->
<section id="application-type-1">
  <div class="container source">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="hd-1">What are cointainer based Applications?</h2>
      </div>
    </div>
    <div class="row margin-50">
      <div class="col-lg-12">
        <p class="details"> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>


    </div>
  </div>
</section>
<section id="application-type-2">
  <div class="container source">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="hd-1">What are open sourced Applications?</h2>
      </div>
    </div>
    <div class="row margin-50">
      <div class="col-lg-12">
        <p class="details"> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>


    </div>
  </div>
</section>

<div class="splash">
<footer>
</footer>
</div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

</body>

</html>
